
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-bottom: 1px solid red;

}

.icono{
    width: 100%;

}

@media screen and (max-width:600px) {
    .icono{
        width: 60%;
        margin-left: 70px;
  
    }
    
}