
.searchMovie{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    
}

.searchBox {
    position: relative;
   
}

.searchInput{
    
    border-radius: 10px;
    background: white;
    padding: 3px 30px 3px 5px;
    font-size: 1rem;
    
}

.searchBtn {
    position: absolute;
    background: none;
    height: 100%;
    right: 0;
    border: none;  

}